.menu {
  background-color: #D5B0AC;
  color: #402E2A;
  font-weight: bold;
  text-align: center;
}

.menu.menu_vertical{
  width: 100px;
}

.item{
  /*background-color: white;*/
  display: inline-block;
  width: 100px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}

.item.item_vertical {
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

span:hover{
  background-color: #9CD08F;
  color: #FFFFFF;
  cursor: pointer;
}
